.login {
    color: white;
    border: 1px solid red;
    width: 600px;
    height: 300px;
    /*position: absolute;*/
    top: 500000%;
    left: 50%;
    margin: 0 auto; /*-50px 0 0 -50px;*/
    margin-top: 100px;
    backgroun-color: black;
    opacity: 0.8;
    border-radius: 15px;
}
.registro {
    color: white;
    border: 1px solid red;
    width: 600px;
    height: 400px;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    margin: 0 auto; /*-50px 0 0 -50px;*/
    margin-top: 100px;
    background-color: black;
    opacity: 0.8;
    border-radius: 15px;
}
.home {
    color: white;
    border: 1px solid red;
    width: 600px;
    height: 300px;
    /*position: absolute;*/
    top: 10%;
    left: 10%;
    margin: 0 auto; /*-50px 0 0 -50px;*/
    margin-top: 100px;
    background-color: black;
    opacity: 0.8;
    border-radius: 15px;
}
.body_admin {
    background: #73C8A9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.buscadores {
    color: white;
    border: 1px solid black;
    width: 980px;
    /*height: 1000px;*/
    height: fit-content;
    /*position: absolute;*/
    top: 10%;
    left: 10%;
    margin: 0 auto; /*-50px 0 0 -50px;*/
    margin-top: 100px;
    background-color: #242323;
    opacity: 0.9;
    border-radius: 10px;
}
.index {
    color: white;
    border: 1px solid black;
    width: 980  px;
    /*height: 1000px;*/
    height: fit-content;
    /*position: absolute;*/
    top: 10%;
    left: 10%;
    margin: 0 auto; /*-50px 0 0 -50px;*/
    margin-top: 100px;
    background-color: #242323;
    opacity: 0,9;
    border-radius: 10px;
}
.margin_left {
    margin-left:2em;
}
.margin_right {
    margin-right:2em;

.margin_top {
    margin-top:2em;
}
.margin_bottom {
    margin-bottom:2em;
}
.background_home {
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.table_streaming {
    border: 1px solid white;
    border-radius: 10px;
    border-style: dotted;
}
.tr_streaming, .td_streaming {
  border: 1px solid grey;
}
.tr_usuarios {
  border: 1px solid grey;
  border-style: dotted;
  width: 500px;
}
td_usuarios {
  border: 1px solid grey;
  border-style: dotted;
  width: 250px;
}
.html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px
}
footer {
  background-color: grey;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
}
